page-welcome {
  #welcome{
      background: url('../../assets/imgs/fondo.png');
      background-attachment: fixed; 
      background-position: center
  }
  
  #logo{
    
    width: 70vh;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 70px;
  }

  #buttons{
      padding-top: 300px;
  }
}
